section{
    width: 100%;
    background-color: var(--color-background);
    padding-bottom: 50px;
  
}

.bookImages{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
