.card{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
}

.images{
    gap:20px;
}

.bookImage {
    width: 250px;
    height: 300px;
    border-radius: 5%;
}
.userImage{
    width: 40px;
    height: 40px;
    border-radius: 100%;

}